li {
  list-style: none;
  margin-bottom: 10px;
  padding: 30px;
  border: 1px solid black;
}

div {
  padding-left: 0;
  text-align: center;
}

.row-count{
    column-count: 4;
}

button {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.active {
  background-color: #666;
  color: white;
}

.sort-wrapper{
    float: right;
    padding-left: 10px;
}