<div class="filter-container">
    <h1>Filters</h1>
    <form [formGroup]="form">
        <div class="box">
            <h3>Gender</h3>
            <div *ngFor="let items of filterItems">
                <div *ngFor="let g of items.gender">
                    <input type="checkbox" formControlName="filter" (change)="checked('gender', g, $event)"><span
                        class="checkbox-label">{{g}}</span><br>
                </div>
            </div>
        </div>

        <div class="box">
            <h3>Species</h3>
            <div *ngFor="let items of filterItems">
                <div *ngFor="let s of items.species">
                    <input type="checkbox" formControlName="filter" (change)="checked('species', s, $event)"><span
                        class="checkbox-label">{{s}}</span><br>
                </div>
            </div>
        </div>

        <div class="box">
            <h3>Origin</h3>
            <div *ngFor="let items of filterItems">
                <div *ngFor="let o of items.origin">
                    <input type="checkbox" formControlName="filter" (change)="checked('origin', o, $event)"><span
                        class="checkbox-label">{{o}}</span><br>
                </div>
            </div>
        </div>
    </form>
</div>