<div class="main-container">
    <div class="left-container-area">
        <app-character-filter></app-character-filter>
    </div>
    <div class="right-container-area">
        <div class="character-form-controls">
            <div class="character-list-form">
                <app-filters-tags></app-filters-tags>
                <app-character-search></app-character-search>
                <app-character-sort></app-character-sort>
            </div>
        </div>
        <app-character-list></app-character-list>
    </div>
</div>