<div class="countdown-container container">
    <div class="row">
        <div class="col-sm-5 box">
            <app-countdown-timer></app-countdown-timer>
        </div>
        <div class="col-sm-5 box">
            <app-countdown-limit></app-countdown-limit>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 box">
            <app-countdown-date></app-countdown-date>
        </div>
        <div class="col-sm-5 box">
            <app-countdown-counter></app-countdown-counter>
        </div>
    </div>  
</div>